frontend/.gradle
frontend/.idea
frontend/app/build.gradle.kts
frontend/app/build
frontend/app/proguard-rules.pro
frontend/app/src/androidTest
frontend/app/src/main/java/com/example/remotewinary/ui
frontend/app/src/main/java/com/example/remotewinary/Activity/ui
frontend/app/src/main/res/*
!frontend/app/src/main/res/layout
frontend/gradle
frontend/gradle.properties
frontend/local.properties
frontend/settings.gradle.kts
frontend/gradlew
frontend/build.gradle.kts
frontend/gradlew.bat
frontend/app/src/test/java/com/example/remotewinery/ExampleUnitTest.kt
